<!doctype html>
<html lang=ptbr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <title>Commander Store - {{ title }}</title>
</head>
<body>
    <h4 class="title">{{ title }}</h4>
    <form action="/categorias/editar/{{ categoria.id }}" method="post" class="form">
        <label for="name">Nome</label>
        <input class="form__input" type="text" name="name" placeholder="Nome" id="name" value="{{ categoria.nome }}">

        <label for="desc">Descrição</label>
        <input class="form__input" type="text" name="desc" placeholder="Descrição" id="desc" value="{{ categoria.desc }}">

        <input class="form__submit" type="submit" value="Alterar">
    </form>

    <nav>
        <ul class="nav">
            <li class="nav__item"><a class="nav__button" href="{{url_for('categorias')}}">Voltar</a></li>
        </ul>
    </nav>
</body>
</html>
