<!doctype html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Commander Store</title>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="menu__container">
                <div class="menu__logo">
                    <a href={{url_for('index')}}><img src="{{url_for('static', filename='img/logo.png')}}" alt="Commander Store"></a>
                </div>
                <ul class="menu__list">
                    <li class="menu__list-item"><a class="menu__list-link" href={{url_for('index')}}>Home</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href={{url_for('anuncios')}}>Anuncios</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href={{url_for('signup')}}>Cadastro</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href={{url_for('signin')}}>Login</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href={{url_for('favoritos')}}>Favoritos</a></li>
                    <li class="menu__list-item"><a class="menu__list-link" href={{url_for('categorias')}}>Categorias</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="container">
            <h3>Usuarios Cadastrados</h3>
            {% for usuario in usuarios %}
                <p>
                    <strong>{{ usuario.nome }}</strong>
                </p>
            {% endfor %}
        </section>
    </main>
</body>
</html>