<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../static/img/icon-deck.svg" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    
    <title>Commander Store - {{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light mb-3">
            <div class="menu__container container-fluid shadow-sm">
                <div class="menu__logo">
                    <a href={{url_for('index')}}><img src="../static/img/icon-deck.svg" alt="Commander Store" class="w-50"></a>
                </div>
                <div>
                    <ul class="menu__list navbar-nav mr-auto">
                        <li class="menu__list-item nav-item active"><a class="menu__list-link nav-link" href={{url_for('index')}}>Home</a></li>
                        <li class="menu__list-item nav-item"><a class="menu__list-link nav-link" href={{url_for('anuncios')}}>Anuncios</a></li>
                        <li class="menu__list-item nav-item"><a class="menu__list-link nav-link" href={{url_for('signup')}}>Cadastro</a></li>
                        <li class="menu__list-item nav-item"><a class="menu__list-link nav-link" href={{url_for('signin')}}>Login</a></li>
                        <li class="menu__list-item nav-item"><a class="menu__list-link nav-link" href={{url_for('favoritos')}}>Favoritos</a></li>
                        <li class="menu__list-item nav-item"><a class="menu__list-link nav-link" href={{url_for('categorias')}}>Categorias</a></li>
                        <li class="menu__list-item nav-item"><a class="menu__list-link nav-link" href={{url_for('logout')}}>Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
        <section class="container">
            <h3>Usuarios Cadastrados</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thread-default">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ver</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr class="">
                            <th scope="row">{{usuario.nome}}</th>
                            <td>{{usuario.email}}</td>
                            <td><a href={{url_for('buscarusuario', id=usuario.id)}}>Ver</a></td>
                            <td><a href={{url_for('editarusuario', id=usuario.id)}}>Editar</a></td>
                            <td><a href={{url_for('deletarusuario', id=usuario.id)}}>Excluir</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <section class="container">
            <h3>Ultimos Anuncios</h3>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead class="thread-default">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Ver</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for anuncio in anuncios %}
                        <tr>
                            <th scope="row">{{anuncio.nome}}</th>
                            <td>R$ {{anuncio.preco}}</td>
                            <td><a href={{url_for('anuncio_detalhes', id=anuncio.id)}}>Ver</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>